    <style>
      .bg-marty {
        background-color: #e7e7e7;
      }
      .bluge-heading {
          display: none;
      }
      .search-heading {
          display: none;
      }
      .blog-heading {
          text-align: center;
      }
      .bluge-title {
          text-align: center;
      }
      .bluge-content {
          padding-left: 50px;
          padding-top: 10px;
      }
      mark {
            background-color: #ff0;
      }
    </style>

    {{if eq .Title "Search"}}
        {{partial "head_search.html"}}
    {{end}}