{{ define "main" }}

<div role="main" class="container">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          Welcome to Bluge Labs, an organization focused on supporting high-quality search software for Go.  Bluge Labs is made possible by <a href="/thanks">our sponsors</a>.  These supporters recognize the value of these projects, and work together with Bluge Labs to ensure their future.

          Our top priorities:
          <ul>
            <li>Adopt Go Modules, including refactoring larger packages into multiple modules where appropriate.</li>
            <li>Begin following a release train model, allow users to build software around stable versions with known support time tables.</li>
          </ul>

          Keep reading to learn more about the major projects we support.
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-4">
          <img src="/img/bleve-icon-placard.png" width="256" height="256"/>
        </div>
        <div class="col-md-8">
          <h3>Bleve</h3>
          <a href="https://github.com/blevesearch/bleve/">Bleve</a> is the core project at the heart of Bluge Labs today.  Started in 2014 at <a href="https://www.couchbase.com/">Couchbase</a>, Bleve has come a long way.  Today there are many companies shipping products that rely on Bleve indexing and search.  Bluge Labs' role is to ensure that Bleve remains a healthy open-source project with regular releases.
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-8">
          <h3>Vellum</h3>
          <a href="https://github.com/couchbase/vellum">Vellum</a> is a library implementing a data-structure known as a <a href="https://stackoverflow.com/questions/4872115/what-is-a-finite-state-transducer">Finite State Transducer</a>.  Today it's primarily used internally by the Bleve code base.  However, there are projects using Vellum directly, and we believe it's full potential has not been realized.  Here at Bluge Labs, we plan to continue to support Vellum, and encourage wider adoption of this technology.
        </div>
        <div class="col-md-4">
          <img src="/img/vellum-logo.png" width="256" height="256"/>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-4">
          <img src="/img/bluge-logo.png" width="256" height="256"/>
        </div>
        <div class="col-md-8">
          <h3>Bluge</h3>
          A new API for search in Go, based on Bleve Technology?!?!
          <b>Coming Soon!</b>
        </div>
      </div>
    </div>

</div>
{{ end }}

