{{ define "main" }}

<div role="main" class="container">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          Welcome to Bluge Labs, an organization focused on supporting high-quality search software for Go.  Bluge Labs is made possible by <a href="/thanks">our sponsors</a>.  These supporters recognize the value of these projects, and work together with Bluge Labs to ensure their future.
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-8">
          <h3>Bluge</h3>
	  A new API for indexing/search in Go.  Starting a new project that needs search capabilities?  <a href="/bluge/">Get Started!</a>
        </div>
        <div class="col-md-4">
          <img src="/img/bluge-logo-without.png" width="256" height="256"/>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-4">
          <img src="/img/vellum-logo.png" width="256" height="256"/>
        </div>
        <div class="col-md-8">
          <h3>Vellum</h3>
          <a href="https://github.com/couchbase/vellum">Vellum</a> is a library implementing a data-structure known as a <a href="https://stackoverflow.com/questions/4872115/what-is-a-finite-state-transducer">Finite State Transducer</a>.  Today it's primarily used internally by the Bleve code base.  However, there are projects using Vellum directly, and we believe it's full potential has not been realized.  Here at Bluge Labs, we plan to continue to support Vellum, and encourage wider adoption of this technology.
        </div>
      </div>

    </div>

</div>
{{ end }}

