{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-12 col-md-10">
          <div class="row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-9 blugemain">
                  <h1 class="bluge-title">{{ .Title }}</h1>
                  <hr class="small">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 well">
                  {{ partial "bluge_toc.html" .}}
              </div>
              <div class="col-lg-9 blugemain bluge-content">
                  {{ .Content }}
              </div>
          </div>
{{/*        <div class="posts-list">*/}}
{{/*          {{ range .Paginator.Pages }}*/}}
{{/*            {{ partial "post_preview.html" .}}*/}}
{{/*          {{ end }}*/}}
{{/*        </div>*/}}
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
